<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Blog</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            {% if session.get('logged_in') %}
            <li><a href="{{ url_for('logout')}}">logout</a></li>
            <li><a href="{{ url_for('admin') }}">admin</a></li>
            {% else %}
            <li><a href="{{ url_for('login')}}">login</a></li>
            {% endif %}
            <li><a href="{{ url_for('register') }}">register</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>
    </div>
    <div class="container">
      {% block contaiter %}
      {% endblock %}
    </div>
  </body>
</html>
