<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>users</title>
</head>
<body>
  <h2>users</h2>
  <h3>welcome {{ session.username }}</h3>
  <a href="{{ url_for('logout') }}">logout</a>
  <hr>
  {% for message in get_flashed_messages() %}
  <p style="background-color: gray">{{ message }}</p>
  {% endfor %}
  <form method="post" action="{{ url_for('post_users') }}">
    title: <input type="text" name="title"/>
    text:<textarea name="text"></textarea>
    <button type="submit">submit</button>
  </form>
  <hr>
  <h3>entries</h3>
  <ul>
    {% for entry in entries %}
      <li>{{ entry.title }}: {{ entry.text }}</li>
    {% endfor %}
  </ul>
</body>
</html>
